html,
button,
input,
select,
textarea {
    color: #222;
}

h1, h2, h3, h4, h5, p{
    font-family: 'Open+Sans', sans-serif;
    color: #fff;
    padding:0;
    margin:0;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1em;
    color: #83c3e3;
}

h3 {
    font-size: 1.2em;
    color:#4b4b4b;
}

p {
    font-size: 1em;
    color:#4b4b4b;
}

html {
    font-size: 1em;
    line-height: 1.4;
    overflow-y: scroll;`
    height: 101%
}

body {
    background-color: #fff;
    background-image:url('/img/backdrop.jpg');
    background-repeat:repeat-x;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

#header {
    text-decoration: none;
    height:auto;
    padding-top:10px;
    background-color: #70298c;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7b3c93), color-stop(100%,#592669)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7b3c93 0%,#592669 100%); /* Chrome10+,Safari5.1+ */
}

#head-top {
    height:50px;
    padding-top:10px;
    padding-bottom:10px;
}

#logo-container {
    margin:auto;
    width:400px;
    height:50px;
    color: #FFF;
}

#logo-img {
    float:left;
    height:50px;
}
#logo-img img{
    width:auto;
    height:40px;
}

#logo-title {
    font-size: 2em;
    float:left;
    border-right: 1px white solid;
    padding-left: 10px;
    padding-right:10px;
}

#logo-text {
    float:left;
    padding-left:10px;
    height:50px;
}

#logo-text p {
    color:#fff;
}

#head-bottom {
    height:50px;
    background-color:#000;
}

#nav-container {
    margin:auto;
    width:400px;
    height:50px;
}

.menu-btn {
    text-align: center;
    display:inline-block;
    width:110px;
    height:50px;
    background-color:#000;
}
.menu-btn p{
    color:#fff;
    padding-top:15px;
    font-size:0.9em;
}

.menu-btn2 {
    border-left:2px #602d70 solid;
    text-align: center;
    display:inline-block;
    width:50px;
    height:50px;
    background-color:#000;
    float:right;
}

.menu-btn2 img{
    padding-top:10px;
    padding-left:2px;
}

#search-bar {
    display:none;
    height:50px;
    background-color: #222;
}

#search1 {
    padding-top:4px;
}

.Search-text-placeholder {
    margin:auto;
    display:block;
    padding-top:10px;
    width:90%;
    height:30px;
    color:#fff;
    background-color: #222;
    text-align: right;
    border:0px solid rgba(99, 141, 255, 0.56);
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#content {
    width:auto;
    height:auto;
    background-color:#fff;
    margin:10px;
    border:1px solid #a8a6a8;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#content-header {
    height:50px;
}

#content-header img{
    position:absolute;
    float:left;
    height:55px;
    padding-left:20px;
}

#content-header h3{
    margin:auto;
    text-align: center;
    padding-left:20px;
    padding-top:10px;
    height:30px;
}

#content-image img{
    display:block;
    margin:auto;
    padding-right:20px;
    max-width: 658px;
    width:90%; /* you can use % */
    height: auto;
}

#content-text {
    margin:10px;
}

#content-text p {
    font-size: 1.2em;
}

#footer {
    color:#5f5d5d;
    margin:10px;
    height:100px;
}

#footer-logo {
    float:right;
}

#footer-text {
    float:left;
}

a:hover {
    color:inherit;
}
a:active {
    color:inherit;
}
a:visited {
    color:inherit;
}

#review-container {
    width:auto;
    height:auto;
    background-color:#fff;
    margin:10px;
    margin-top:30px;
    border:2px solid #a8a6a8;
}

.review-box {
    color:#454545;
    margin:auto;
    padding:10px;
    padding-bottom:25px;
    display:block;
    min-width:480px;
    font-size:1.2em;
    width:480px;
    height:auto;
}

.button {
    background-color:#7d2e9b;
  border: 0 none;
  border-radius: 2px 2px 2px 2px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial,sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  margin:10px;
  padding: 7px 10px;
  text-transform: none;
  width: 100px; /* auto */
  text-align: center; /* DELETE WHEN WIDTH AUTO */
}
.red {
    background-color:#d9015d;
}

.yellow {
    background-color:#fcca00;
}

.blue {
    background-color:#01c6d9;
}

.green2 {
    background-color:#81c036;
}

.green {
    background-color:#1abc9c;
    width:200px;
}

.red:hover {
   background-color:#ff046f;
}

.blue:hover {
    background-color:#01edff;
}

.yellow:hover {
   background-color:#fff200;
}

.green2:hover {
    background-color:#98e53d;
}

#review-text {
    display:block;
    width:90%;
    margin:5px;
    background-color:#fcf7f7;
    border:2px solid #b9b8b8;
}
