#review-container {
    width: auto;
    height: auto;
    background-color: #fff;
    margin: 10px;
    margin-top: 30px;
    border: 2px solid #3a9cff;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.review-box {
    color: #454545;
    margin: auto;
    padding: 10px;
    padding-bottom: 25px;
    display: block;
    font-size: 1.2em;
    width: 300px;
    min-width: 300px;
    height: auto;
}
.button {
    color: #000;
    background-color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 0.7em;
    font-weight: bold;
    line-height: 20px;
    text-transform: none;
    width: 75px;
    padding: 5px;
    text-align: center;
}
.red {
    color: #e34e36;
    border: 3px #e34e36 solid;
}
.blue {
    color: #3d96e0;
    border: 3px #3d96e0 solid;
}
.purple {
    color: #9856bb;
    border: 3px #9856bb solid;
}
.dark {
    color: #354860;
    border: 3px #354860 solid;
}
.green {
    color: #42cd62;
    border: 3px #42cd62 solid;
}
.button:hover {
    color: #efc600;
    border: 3px #efc600 solid;
    background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
}
.highlight {
    color: #efc600;
    border: 3px #efc600 solid;
    background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
}
#review-text {
    display: block;
    width: 90%;
    margin: 5px;
    background-color: #fcf7f7;
    border: 2px solid #b9b8b8;
}
#temp-1,
#temp-2,
#temp-3,
#temp-4,
#light-1,
#light-2,
#light-3,
#light-4,
#light-5,
#noise-1,
#noise-2 {
    display: none;
}
.review-text {
    padding-bottom: 5px;
}
.comments {
    text-align: left;
    line-height: 20px;
    height: 60px;
    width: 90%;
    border: 2px rgba(178, 237, 255, 0.96) solid;
}
#form-submit {
    width: 110px;
}